@import "./../../css/util.scss";

.algo-title {
    @include shadow;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    text-align: center;
    color: $interactive-color;
    margin-bottom: 1rem;
    &:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }
    @include sm {
        font-size: 2rem;
    }
    @include md {
        font-size: 2.5rem;
    }
    transition: ease-in-out all 0.2s;
}

.algo-desc {
    @include shadow;
    color: $primary-color;
    font-size: 0.75rem;
    @include sm {
        font-size: 1rem;
    }

    @include md {
        font-size: 1.25rem;
    }
}

.algo-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
    @include md {
        flex-direction: row;
        justify-content: start;
    }
}

.algo-container {
    @include shadow;
    width: min(60%, 40rem);
    text-decoration: none;
    color: $interactive-color;

}