@import "./../../css/util.scss";

.array-display {
    @include shadow;
    display: flex;
    flex-wrap: wrap;
    width: min(80%, 80rem);
    margin-left: auto;
    margin-right: auto;
    gap: 0.5rem;
}

.input-modal {
    @include shadow;
    display: flex;
    flex-direction: column;
    width: min(80%, 80rem);
    margin-left: auto;
    margin-right: auto;
}

.input-fields {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    gap: 1rem;
    @include sm {
        grid-template-columns: 5fr 1fr;
    }
}

.array-input {
    border: none;
    @include shadow;
    background-color: $background-color;
    color: white;
    font-size: 1rem;
}

.target-input {
    border: none;
    @include shadow;
    background-color: $background-color;
    color: white;
}

.array-input-section {
    @include shadow;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    width: min(80%, 80rem);
    margin-left: auto;
    margin-right: auto;
}

.run-button {
    border: none;
    @include shadow;
    width: fit-content;
    color: $interactive-color;
    background-color: $background-color;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

.element {
    @include shadow;
    width: fit-content;
    text-align: center;
    text-justify: center;
    color: black;
    font-size: 1rem;
    background-color: $neutral-color;
    transition: all 0.2s ease-in-out;
}


.primary {
    background-color: $primary-color;
    transform: translateY(-0.5rem);
    transition: transform 0.1s ease-in-out;
}

.secondary {
    background-color: $secondary-color;
}

.highlight {
    background-color: $highlight-color;
}

.dialog-box {
    @include shadow;
    color: white;
    background-color: $background-color;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
    width: min(80%, 80rem);
}

.delay-input {
    border: none;
    @include shadow;
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    --webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    
}

.delay-header {
    @include shadow;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    color: $primary-color;

    @include sm {
        font-size: 1.5rem;
    }
}

@mixin raise-element {
    transform: translateY(-0.5rem);
    transition: transform 0.1s ease-in-out;
}

.left-pointer {
    @include raise-element;
    background-color: #2DE1FC;
}

.right-pointer {
    @include raise-element;
    background-color: #2AFC98;
}

.middle-pointer {
    @include raise-element;
    background-color: #214F4B;
}

.target {
    background-color: #FCA82D;
    color: black;
}
