@import "./../../css/util.scss";

.array-display {
    @include shadow;
    display: flex;
    flex-wrap: wrap;
    width: min(80%, 40rem);
    margin-left: auto;
    margin-right: auto;
    gap: 0.5rem;
    

}

.array-input {
    border: none;
    @include shadow;
    background-color: $background-color;
    color: white;
}


.target-input {
    border: none;
    @include shadow;
    background-color: $background-color;
    color: white;
}

.array-input-section {
    @include shadow;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.run-button {
    border: none;
    @include shadow;
    width: fit-content;
    color: $interactive-color;
    background-color: $background-color;
}

.element {
    @include shadow;
    width: fit-content;
    text-align: center;
    text-justify: center;
    color: black;
    font-size: 2rem;
    background-color: $neutral-color;
}

.primary {
    background-color: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.highlight {
    background-color: $highlight-color;
}

.dialog-box {
    @include shadow;
    color: white;
    background-color: $background-color;
    margin-top: 3rem;
    margin-bottom: 1rem;
    max-width: min(80%, 40rem);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
}