@import "./../../css/util.scss";

.sort-text {
    @include shadow;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    @include sm {
        gap: 0.2rem;
    }
    @include md {
        gap: 0.5rem;
    }
    opacity: 0%;
    animation: float-in 1s ease-in-out 0.5s forwards;
}

@keyframes float-in {
    0% {
        opacity: 0%;
        transform: translateY(100%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.sort-text-element {
    @include shadow;
    font-size: 1rem;
    @include sm {
        font-size: 1.5rem;
    }
    @include md {
        font-size: 4rem;
    }
    @include lg {
        font-size: 5rem;
    }
}