@import "./../../css/util.scss";
.algos-button {
    @include shadow;
    color: $secondary-color;
    font-size: 2rem;
    margin-right: auto;
    text-decoration: none;
    opacity: 75%;
    &:hover {
        opacity: 100%;
        transform: translateY(10px);
    }
    transition: all 0.2s ease-in-out;
}