@import "./../../css/util.scss";
.title {
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.desc {

}

.algos-link {

}

.home-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    gap: 5rem;
    margin-top: 10rem;
    
}