@import "./../../css/util.scss";

.algo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algo-nav {
    @include shadow;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;

    @include sm {
        grid-template-columns: 1fr 1fr;
    }
    @include md {
        grid-template-columns: repeat(4, 1fr);
    }

    margin-top: 2rem;
    margin-bottom: 8rem;

}

.algo-nav-button {
    @include shadow;
    width: fit-content;
    text-align: center;
    text-justify: center;
    color: $interactive-color;
    font-size: 1rem;
}

.algo-overview {
    @include shadow;
    max-width: 50%;
    font-size: 1.5rem;
}

.algo-complexity {
    @include shadow;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include sm {
        grid-template-columns: 3fr 1fr;
        font-size: 1.5rem;
    }
}

.algo-implementations {

}

.algo-header {
    @include shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    @include sm {
        font-size: 3rem;
    }
    @include md {
        font-size: 4rem;
    }
}

.complexity-formula {
    @include shadow;
    color: $primary-color;
    width: fit-content;
    // center it
    align-self: center;
    font-size: 1.5rem;

    @include sm {
        font-size: 2rem;
    }
}

.overview-sentence {
    @include shadow;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    @include sm {
        font-size: 1rem;
    }
    @include md {
        font-size: 1.2rem;
    }
}

.language-buttons {
    @include shadow;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5rem;
    @include sm {
        grid-template-columns: 1fr 1fr;
        font-size: 0.8rem;
    }
    @include md {
        grid-template-columns: repeat(4, 1fr);
        font-size: 1rem;
    }

}

.language-button {
    @include shadow;
    width: fit-content;
    color: $primary-color;
    transition: ease-in-out all 0.25s;
}

.language-button-selected {
    @extend .language-button;
    color: $secondary-color;
    transform: translateY(-5px);
}